{% extends "base.html" %}
{% load static from staticfiles %}
{% block meta_title %}Студенти{% endblock meta_title %}
{% block main_content %}
    <div class="container">
      <hr>
        {% include 'includes/navbar_buttons.html' %}
      <hr>

      <p style="text-align: center;">Жовтень</p>

      <table class="table table-hover table-striped table-bordered">
        <tr>
            <td>№</td>
            <td>Студент</td>
            <td>Пн</td>
            <td>Вт</td>
            <td>Пн</td>
            <td>Вт</td>
            <td>Пн</td>
            <td>Вт</td>
            <td>Пн</td>
            <td>Вт</td>
            <td>Пн</td>
            <td>Вт</td>
            <td>Пн</td>
            <td>Вт</td>
            <td>Пн</td>
            <td>Вт</td>
            <td>Пн</td>
            <td>Вт</td>
            <td>Пн</td>
            <td>Вт</td>
            <td>Пн</td>
            <td>Вт</td>
            <td>Пн</td>
            <td>Вт</td>
            <td>Пн</td>
            <td>Вт</td>
            <td>Пн</td>
            <td>Вт</td>
          </tr>
          <tr>
              <td>1</td>
              <td>Граменко</td>
              <td><input type="checkbox"></td>
              <td><input type="checkbox"></td>
              <td><input type="checkbox"></td>
              <td><input type="checkbox"></td>
              <td><input type="checkbox"></td>
              <td><input type="checkbox"></td>
              <td><input type="checkbox"></td>
              <td><input type="checkbox"></td>
              <td><input type="checkbox"></td>
              <td><input type="checkbox"></td>
              <td><input type="checkbox"></td>
              <td><input type="checkbox"></td>
              <td><input type="checkbox"></td>
              <td><input type="checkbox"></td>
              <td><input type="checkbox"></td>
              <td><input type="checkbox"></td>
              <td><input type="checkbox"></td>
              <td><input type="checkbox"></td>
              <td><input type="checkbox"></td>
              <td><input type="checkbox"></td>
              <td><input type="checkbox"></td>
              <td><input type="checkbox"></td>
              <td><input type="checkbox"></td>
              <td><input type="checkbox"></td>
              <td><input type="checkbox"></td>
              <td><input type="checkbox"></td>
          </tr>
    </table>
  </div>
{% endblock main_content %}