{% extends "base.html" %}
{% load static from staticfiles %}
{% block meta_title %}Студенти{% endblock meta_title %}
{% block main_content %}
<div class="container">
  {% comment ”Not used alert so far” %}
    <div class="alert alert-success" role="alert">Студента успішно додано</div>
  {% endcomment %}
  <hr>
    {% include 'includes/navbar_buttons.html' %}
  <hr>
  <table class="table table-hover table-striped">
    {% with order_by=request.GET.order_by reverse=request.GET.reverse %}
    <tr>
        <th>№</th>
        <th>Фото</th>
        <th>
          <a href="{% url 'students:students_list' %}?order_by=last_name{% if order_by == 'last_name' and reverse != '1'%}&amp;reverse=1{% endif %}">
            Прізвище
              {% if order_by == '' %}&uarr;
              {% elif order_by == 'last_name' and reverse != '1' %}&uarr;
              {% elif order_by == 'last_name' and reverse == '1' %}&darr;{% endif %}
          </a>
        </th>
        <th>
          <a href="{% url 'students:students_list' %}?order_by=first_name{% if order_by == 'first_name' and reverse != '1'%}&amp;reverse=1{% endif %}">
              Ім’я
              {% if order_by == 'first_name' and reverse != '1' %}&uarr;
              {% elif order_by == 'first_name' and reverse == '1' %}&darr;{% endif %}
          </a>
        </th>
        <th>
          <a href="{% url 'students:students_list' %}?order_by=ticket{% if order_by == 'ticket' and reverse != '1'%}&amp;reverse=1{% endif %}">
              Квиток
              {% if order_by == 'ticket' and reverse != '1' %}&uarr;
              {% elif order_by == 'ticket' and reverse == '1' %}&darr;{% endif %}
          </a>
        </th>
        <th>Група</th>
        <th>Дія</th>
    </tr>
    {% endwith %}
    {% for student in students %}
      <tr>
        <td>{{ forloop.counter0|add:students.start_index }}</td>
        <td>
          {% if student.photo %}
            <img class="img-circle" height="30px" width="30px" src="{{ student.photo.url }}" alt=""></td>
          {% else %}
            <img class="img-circle" height="30px" width="30px" src="{% static 'img/default_user.png' %}" alt="">
          {% endif %}
        </td>
        <td><a href="{% url 'students:students_edit' student.id %}" title="Редагувати">{{ student.last_name }}</a></td>
        <td><a href="{% url 'students:students_edit' student.id %}" title="Редагувати">{{ student.first_name }}</a></td>
        <td>{{ student.ticket }}</td>
        <td>ЕС-31</td>
        <td>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Дія <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="{% url 'students:students_edit' student.id %}">Редагування</a></li>
              <li><a href="journal/{{ student.id }}/">Відвідування</a></li>
              <li><a href="{% url 'students:students_delete' student.id %}">Видалити</a></li>
            </ul>
          </li>
        </td>
      </tr>
    {% endfor %}
  </table>
</div>
{% include 'includes/pagination.html' %}
{% endblock main_content %}
