{% if students.has_other_pages %}
{% with order_by=request.GET.order_by reverse=request.GET.reverse %}
<nav aria-label="Page navigation" class="center" style="text-align: center">
  <ul class="pagination">
    <li {% if not students.has_previous %}class="disabled"{% endif %}>
      <a href="{% url 'students:students_list' %}?page=1&amp;order_by={{ order_by }}&amp;reverse={{ reverse }}" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
{#    <li {% if not students.has_previous %}class="disabled"{% endif %}>#}
{#      <a href="{% url 'students:students_list' %}?page={{ students.previous_page_number }}&amp;order_by={{ order_by }}&amp;reverse={{ reverse }}" aria-label="Previous">#}
{#        <span aria-hidden="true">&lsaquo;</span>#}
{#      </a>#}
{#    </li>#}
    {% for current_page in students.paginator.page_range %}
      <li {% if students.number == current_page %}class="active" {% endif %}>
        <a href="{% url 'students:students_list' %}?page={{ current_page }}&amp;order_by={{ order_by }}&amp;reverse={{ reverse }}">{{ current_page }}</a>
      </li>
    {% endfor %}
{#    <li {%if not students.has_next %}class="disabled"{% endif %}>#}
{#      <a href="{% url 'students:students_list' %}?page={{ students.next_page_number }}&amp;order_by={{ order_by }}&amp;reverse={{ reverse }}" aria-label="Next">#}
{#        <span aria-hidden="true">&rsaquo;</span>#}
{#      </a>#}
{#    </li>#}
    <li {%if not students.has_next %}class="disabled"{% endif %}>
      <a href="{% url 'students:students_list' %}?page={{ students.paginator.num_pages }}&amp;order_by={{ order_by }}&amp;reverse={{ reverse }}" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>
{% endwith %}
{% endif %}