{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name=”description” value="Система Обліку Студентів Навчального Закладу">
    <title>Сервіс обліку студентів</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
  </head>
  <body>
    <!--/.navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="{% url 'students:students_list' %}">База обліку студентів</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <form class="navbar-form navbar-right">
            <button type="submit" class="btn btn-success">Кабінет</button>
          </form>
        </div>
      </div>
    </nav>
    <!--/.navbar -->

    <!-- Main content -->
    <br><br><br>
      <div class="container">
        <div class="alert alert-success" role="alert">Студента успішно додано</div>
          <ul class="nav nav-pills">
            <li role="presentation" class="active"><a href="{% url 'students:students_list' %}">Студенти</a></li>
            <li role="presentation"><a href="/journal">Відвідування</a></li>
            <li role="presentation"><a href="{% url 'students:groups_list' %}">Групи</a></li>
            <li role="presentation" class="pull-right"><a href="{% url 'students:students_add' %}">Додати студента</a></li>
          </ul>
          <hr>
          <table class="table table-hover table-striped">
            <tr>
                <td>№</td>
                <td>Фото</td>
                <td>Прізвище</td>
                <td>Ім’я</td>
                <td>Квиток</td>
                <td>Група</td>
                <td>Дія</td>
            </tr>
            {% for student in students %}
              <tr>
                <td>{{ forloop.counter }}</td>
                <td><img class="img-circle" height="30px" width="30px" src="{% static student.image %}" alt=""></td>
                <td><a href="{% url 'students:students_edit' student.id %}" title="Редагувати">{{ student.last_name }}</a></td>
                <td><a href="{% url 'students:students_edit' student.id %}" title="Редагувати">{{ student.first_name }}</a></td>
                <td>{{ student.ticket }}</td>
                <td>ЕС-31</td>
                <td>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Дія <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <li><a href="{% url 'students:students_edit' student.id %}">Редагування</a></li>
                      <li><a href="journal/{{ student.id }}/">Відвідування</a></li>
                      <li><a href="{% url 'students:students_delete' student.id %}">Видалити</a></li>
                    </ul>
                  </li>
                </td>
              </tr>
            {% endfor %}
        </table>
      </div>
      <!-- Pagination -->

      <nav aria-label="Page navigation" class="center" style="text-align: center">
  <ul class="pagination">
    <li>
      <a href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li class="active"><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
    <li>
      <a href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>
      <!-- /Pagination -->

    <!-- /Main content -->

    <!-- footer -->
    <div class="container">
      <footer class="footer"  id="footer" style="position: absolute; bottom: 0; height: 20px;">
        <p class="text-muted">&copy; 2017 Граменко, Inc.</p>
      </footer>
    </div>
    <!-- /footer -->

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </body>
</html>
